.grid-container 
{
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 5fr;
    grid-template-rows: 1fr 5fr 5fr 5fr;
    grid-template-areas: 'sidebar header header header'
                         'sidebar container container container'
                         'sidebar container container container'
                         'sidebar footer footer footer';
    color: black;
}

.header 
{
    grid-area: header;
}

.sidebar 
{
    grid-area: sidebar;
}

.container 
{
    grid-area: container;
    max-width: 100rem;
    width: 97%;
}

.footer 
{
    grid-area: footer;
    background-color: rgba(238, 130, 238, 0.329);
}

#menu_dropdown 
{
    background-color: rgba(253, 126, 20, 1);
    border-color: rgba(253, 126, 20, 1);
    border-radius: 0px 0px 10px 0px;
    width: 90%;
    height: 90%;
}

#icone_menu 
{
    color:rgb(255, 251, 251);
    font-size: 35px;
    text-align: center;
    margin-left: -2%;
}

#icone_menu_exit 
{
    color:rgb(255, 251, 251);
    font-size: 35px;
    text-align: center;
    margin-left: -2%;
}

#menu_itens 
{
    background-color: rgba(253, 126, 20, 1);
    border-color: rgba(253, 126, 20, 1);
    border-top: -20px;
    border-radius: 0px 0px 10px 0px;
    margin-top: -2%;
}

#menu_houver:hover 
{
    background-color: rgb(253, 158, 81);
    width: 100%;
}

.dropdown-menu 
{
    --bs-dropdown-width: 3rem;
    --bs-dropdown-min-width: 90%;
}

i 
{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 12%;
}

.card {
    --bs-card-spacer-y: 0rem;
    --bs-card-border-width: 0px;
    --bs-card-border-radius: 0rem;
}

.grid2 
{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-areas: 'title_relatorio botoes_titulo';
    color: black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.11);
}

.title_relatorio
{
    grid-area: title_relatorio;
    font-size: 18px;
    padding: 1%;
    padding-left: 2%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 0rem;
}

p {
    margin-bottom: 0rem;
}

.botoes_titulo
{
    grid-area: botoes_titulo;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#icone_filtro {
    color: rgba(0, 58, 123, 1);
    margin-right: 0.3em;
}

.botao_PDF {
    color: rgba(0, 58, 123, 1);
    border-color: rgba(0, 58, 123, 1);   
    height: 70%; 
    padding-top: 1%;
}

.btn-outline-primary {
    --bs-btn-hover-bg: rgba(0, 58, 123, 1);
    --bs-btn-hover-border-color: rgba(0, 58, 123, 1);
    --bs-btn-active-bg: rgba(0, 58, 123, 1); 
    --bs-btn-active-border-color: rgba(0, 58, 123, 1);
}


/* Alerta */

















/* enfileirar as caixas */

.alertas
{
    display: flex;
    flex-direction: row;
    margin-top: 3.5%;
    justify-content: center;
    align-items: center;
}
/* 
:not(.alerta, .caixa-texto)
{
    display: flex;
    flex-direction: row;
} */


.alerta
{
    width: 5rem;
    height: 5rem;
    position: absolute;
    z-index: 1;
    margin-left: -4%;
    bottom: 55%;
    grid-area: alerta;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ícones */

.alerta i
{
    font-size: 3.5em;
    color: white;
    margin: 2%;
}

/* caixa de alerta */

.caixa-alerta
{
    position: relative;
    width: 29%;
    height: 5rem;
    padding: 15px 0 0 25px;
    margin: 2%;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.11);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'alerta caixa-texto caixa-texto caixa-texto'
                       

}

/* texto da caixa de alerta */

.caixa-texto
{
    grid-area: caixa-texto;
    height: 100%;
    text-align: right; 
    line-height: 1.5em; 
    position: absolute;
    z-index: 1;
    text-align: justify;
    margin: -20px;
    margin-top: -2%;
}

.caixa-texto p
{
    color: #b4b4b4;
    font-size: 16px;
}



